:root{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pGrid {
    display: grid;
    grid-template-columns: 400px 400px;
    padding: 5px;
    border: 0.5px solid

}

.bGrid {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    gap: 10px;
}

